#
# Take logs even when adb is not working.
# Thanks: markakash
#
# Usage: Copy this file to /vendor/etc/init/hw.
#        Add this line to your init.$(ro.hardware).rc file:
#        import /vendor/etc/init/hw/init.logcat.rc
#

on fs
    rm /cache/boot_lc_main.txt
    rm /cache/boot_dmesg.txt
    rm /cache/boot_lc_crash.txt
    rm /cache/boot_lc_kernel.txt

    start boot_lc_main
    start boot_dmesg
    start boot_lc_crash
    start boot_lc_kernel

service boot_lc_main /system/bin/logcat -f /cache/boot_lc_main.txt
    class main
    user root
    group root system
    disabled
    oneshot

service boot_lc_crash /system/bin/logcat -b crash -D -f /cache/boot_lc_crash.txt
    class main
    user root
    group root system
    disabled
    oneshot

service boot_lc_kernel /system/bin/logcat -b kernel -D -f /cache/boot_lc_kernel.txt
    class main
    user root
    group root system
    disabled
    oneshot

service boot_dmesg /system/bin/sh -c "dmesg -w > /cache/boot_dmesg.txt"
    class main
    user root
    group root system
    disabled
    oneshot
